@model Exception;

<div class="justify-content-center">
    <div class="p-4 rounded-3 shadow mt-5">
        <h1 class="text-danger">Error!</h1>
        <hr />
        <p class="display-6">Something goes wrong! Try again later.</p>
    </div>
</div>
