@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-3">
        <a asp-controller="Bike" asp-action="Add" class="btn btn-primary">Dodaj Ogłoszenie</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success" asp-controller="Profile" asp-action="Index">Twój Profil</a>
    </li>
}
</ul>
